<tr>
  <td><%= link_to sales_person.first_name + " " + sales_person.last_name, edit_sales_person_path(sales_person), class: "nav-link" %></td>
  <td><%= button_to 'Delete', sales_person_path(sales_person), method: :delete, class: 'btn btn-delete btn-right', onclick:"show_spinner()", style:"margin-top: 0;" %></td>
</tr>